<form method="post" action="">

         
            <input type="email" name="email" placeholder="email">
        <br></br>
            <input type="password" name="password" placeholder="Mot de passe">
            <br><br>
        </div>
        <button type="submit" name="submit" class="ui button">S'inscrire</button>
        </form>